<div class="tamanho mt-5">
     <div ngFor class=" alinhamento mat-elevation-z5 ">
         <div class="col-12">
              <table class="table border ">
                    <thead class="table-secondary">
                         <tr>
                              <th scope="col" class="border">Nome</th>
                              <th scope="col" class="border">CPF</th>
                              <th scope="col" class="border">Telefone</th>
                              <th scope="col" class="border">E-mail</th>
                              <th scope="col" class="border">Profissão</th>
                              <th scope="col" class="border">Renda</th>
                              <th scope="col" class="border">rua</th>
                              <th scope="col" class="border">numero</th>
                              <th scope="col" class="border">complemento</th>
                              <th scope="col" class="border">bairro</th>
                              <th scope="col" class="border">cidade</th>
                              <th scope="col" class="border">estado</th>
                              <th scope="col" class="border">status</th>
                              <th scope="col" class="border"> ações</th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let clientes of cliente">
                              <td class="border">{{clientes.nome}}</td>
                              <td class="border">{{clientes.cpf}}</td>
                              <td class="border">{{clientes.telefone}}</td>
                              <td class="border">{{clientes.email}}</td>
                              <td class="border">{{clientes.profissao}}</td>
                              <td class="border">{{clientes.renda}}</td>
                              <td class="border">{{clientes.endereco.rua}}</td>
                              <td class="border">{{clientes.endereco.numero}}</td>
                              <td class="border">{{clientes.endereco.complemento}}</td>
                              <td class="border">{{clientes.endereco.bairro}}</td>
                              <td class="border">{{clientes.endereco.cidade}}</td>
                              <td class="border">{{clientes.endereco.estado}}</td>
                              <td class="border">{{clientes.status}}</td>
                              <td class="border ">
                                   <button mat-button (click)="openDialog()"><i class="material-icons">edit</i></button>
                                   <button mat-button (click)="delete(clientes)"><i class="delete material-icons ">delete</i></button>
                              </td>
                         </tr>
                    </tbody>

              </table>
              <div class="button d-flex justify-content-end me-4 mb-3">
                   <button type="button" class="btn btn-primary btn-lg mt-3 mb-3" (click)="create()">novo Cliente</button>
              </div>
         </div>

     </div>
</div>

