<div class="d-flex justify-content-center">
     <mat-card class="divida-list mat-elevation-z5 mt-5 col-10 ">
          <div ngfor class="alinhamento">
               <table class="table border-8">
                    <thead class="table-secondary">
                          <tr>
                               <th scope="col" class="border">cliente</th>
                               <th scope="col" class="border">Valor</th>
                               <th scope="col" class="border">Data Abertura</th>
                               <th scope="col" class="border">Data Quitacção</th>
                               <th scope="col" class="border">Descrição</th>
                               <th scope="col" class="border">Status divida</th>
                               <th scope="col" class="border">Ações</th>
                          </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let dividas of dividas">
                              <td class="border-1 col-3">{{dividas.cliente.label}}</td>
                              <td class="border-1 col-1">{{dividas.valor}}</td>
                              <td class="border-1 col-2">{{dividas.dataAbertura}}</td>
                              <td class="border-1 col-2">{{dividas.dataQuitacao}}</td>
                              <td class="border-1 col-3">{{dividas.descricao}}</td>
                              <td class="border-1 col-3">{{dividas.statusDivida}}</td>
                              <td class="border-2 ">
                                   <button mat-button (click)="delete(dividas)"><i class="delete material-icons ">delete</i></button>
                              </td>
                         </tr>
                    </tbody>
               </table>
               <div class="button  ">
                    <button type="button" class="btn btn-primary btn-lg mt-5" (click)="novaDivida()">Adicionar Divida</button>
               </div>
          </div>
     </mat-card>
</div>
