.header{
    background-image: linear-gradient(to right,#efefeb,#999797);

}
.container-fluid{
    display: flex;
    justify-content: center;

}
.logo{
    display: flex;
    align-items: center;
    width: 250px;

}
.titulo{
    display: flex;

    align-items: center;

}
